*{
    margin: 0;
    padding: 0;
}
header{
    position:sticky;
    top:0px;
}
nav{
    background-color: black;
    color: white;
}
li{
    display: inline-flex;
    margin:2vw 5vw;
    font-size: 3vh;
}
body{
    height: 200vh;
}
.container{
    flex-direction: row;
}
.box1{
    background-color: aqua;
    width: 40vw;
    height: 100vh;
    float:right;
    padding: 4vw;
}
.box2{
    background-color: green;
    width: 40vw;
    height: 100vh;
    float:left;
    padding: 4vw;
}